.advantage {
  background: url("../images/bg-header.jpg") no-repeat;
  background-size: cover;
  color: #fff;
}
.advantage-subtitle {
  display: inline-block;
}
.advantage-subtitle img {
  display: inline-block !important;
}
.advantage .container div h3 {
  text-align: left;
  padding-left: 4rem;
}
.advantage .container div p:nth-of-type(1) {
  margin-bottom: 5rem;
}
.startnow {
  background: url("../images/bg-header.jpg") no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  font-size: 2rem;
}
.startnow p {
  margin: 0 auto;
  padding-bottom: 3.6rem;
}
.startnow .pink_text {
  font-size: 3.4rem;
}
.startnow .btn-pink {
  padding: 0.6rem 1.3rem;
  font-size: 1.1rem;
}
.howitworks_icon {
  margin-bottom: 50px;
}
.howitworks {
  background: url("../images/dashes.png") no-repeat;
  background-size: 1100px;
  background-position: center 38%;
}
.howitworks .row:first-child {
  background: url("../images/airplane.png") no-repeat;
  background-size: 70px;
  background-position: 89% -1%;
}
.howitworks h3 {
  text-transform: none;
}
.trainings .slider-item {
  height: 320px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 1.5px 2.6px 4.8px 0.3px rgba(0, 0, 0, 0.2);
  width: 220px;
}
.trainings .slider-item img {
  width: 100%;
}
.trainings .slider-item .slider-description {
  font-size: 14px;
  padding: 20px;
}
.trainings .slider-item .slider-description p {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #463c79;
  text-align: center;
  text-transform: none;
  padding-bottom: 30px;
}
.trainings .slider-item .completed {
  line-height: 14px;
  float: left;
  opacity: 0.3;
}
.trainings .slider-item .completed img {
  width: 15px;
  margin-right: 10px;
}
.trainings .slider-item .views {
  line-height: 14px;
  float: right;
  opacity: 0.3;
}
.trainings .slider-item .views img {
  width: 15px;
  margin-right: 10px;
}
