.modal-container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding-top: 5px;
  background-color: #232232;
  opacity: .8;
  font-family: "Proxima Nova Regular";
  color: #696969;
  /*common form styles*/
}
.modal-container .modal-mes {
  min-height: 545px;
  width: 434px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 70px;
  position: relative;
}
.modal-container .modal-mes .tab-radio {
  display: none;
}
.modal-container .modal-mes .tab-radio + label {
  box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 50%;
  background-color: #352e59;
  height: 70px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-family: "Proxima Nova Regular";
  font-weight: 100;
  font-size: 24px;
  padding-top: 20px;
  text-transform: capitalize;
}
.modal-container .modal-mes .tab-radio:checked + label {
  background-color: #463c79;
  font-family: "Proxima Nova Bold";
}
.modal-container .modal-mes .tab-radio + label + div {
  display: none;
}
.modal-container .modal-mes .tab-radio:checked + label + div {
  display: block;
  position: absolute;
  top: 70px;
  width: 100%;
}
.modal-container .modal-mes .close-icon {
  background-image: url("../images/icons/close-mod.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: -35px;
  width: 35px;
  height: 18px;
  cursor: pointer;
}
.modal-container form {
  width: 87%;
  margin: 0 auto;
  font-size: 16px;
  padding-bottom: 30px;
  /*for email, password*/
}
.modal-container form label {
  display: block;
}
.modal-container form label:nth-child(1) {
  margin-top: 13px;
}
.modal-container form input,
.modal-container form button,
.modal-container form span {
  display: block;
}
.modal-container form div.message {
  font-size: 12px;
  height: 18px;
}
.modal-container form div.regServerMes {
  font-size: 12px;
  height: 12px;
  text-align: center;
  color: red;
}
.modal-container form input {
  border-bottom: 1px solid #bac4d7;
  width: 100%;
  height: 35px;
  padding: 10px;
  padding-left: 0;
}
.modal-container form input[type="email"] {
  height: 40px;
}
.modal-container form .or {
  padding: 0;
  margin: 0;
  margin-top: 25px;
  text-align: center;
  background-image: url("../images/icons/or_line.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
.modal-container form .or span {
  display: inline-block;
  background-color: #fff;
  padding: 0 7px;
  font-size: 18px;
  line-height: 18px;
}
.modal-container form .reg-social {
  display: table;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 35px;
  width: 202px;
}
.modal-container form .reg-social a {
  display: table-cell;
  text-align: center;
}
.modal-container form .reg-social a:first-child {
  text-align: left;
}
.modal-container form .reg-social a:last-child {
  text-align: right;
}
.modal-container form button[type="submit"] {
  width: 202px;
  height: 45px;
  font-size: 18px;
  margin: 0 auto;
  box-sizing: border-box;
}
.modal-container form .reg-away {
  text-align: center;
  margin-top: 35px;
}
.modal-container form .reg-away > a {
  color: #352e59;
}
.modal-container form .reg-away > a:hover,
.modal-container form .forgot-link {
  border-bottom: 1px solid #cccbd5;
}
.modal-container form {
  /* Правило для всех элементов, с которыми не взаимодействовал пользователь*/
  /* Правило для всех элементов, которые прошли проверку после взаимодействия с пользователем */
  /* Данное правило распространяется на все элементы с которыми взаимодействовал прользователь и которые не прошли проверку */
}
.modal-container form .ng-pristine {
  border-bottom: 1px solid #bac4d7;
}
.modal-container form .ng-valid.ng-dirty {
  border-bottom-color: green;
}
.modal-container form .ng-invalid.ng-dirty {
  border-bottom-color: red;
}
.modal-container form .mes-valid {
  color: green;
}
.modal-container form .mes-invalid {
  color: red;
}
