.footer {
  background: url("../images/bg-header.jpg") no-repeat;
  background-size: cover;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.15rem;
  font-weight: bold;
}

.footer-links {
  padding-bottom: 5.3rem;
}

.footer-like {
  padding-bottom: 2.3rem;
}

.footer-copyright {
  font-size: 0.7rem;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 50px;
}