header {
  background: url("../images/bg-header.jpg") no-repeat;
  background-size: cover;
}

header .logo {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  height: 100%;
}

header .logo a {
  width: 50%;
  display: inline-block;
  line-height: 3rem;
}

header .reg {
  text-align: right;
}

header .reg button,
header .reg button:hover,
header .reg button:focus,
header .reg button:active {
  padding: 0.7rem 1rem 0.7rem 2.8rem;
  background-image: url("../images/enter.png");
  background-repeat: no-repeat;
  background-position: .9rem center;
  display: inline-block;
}

header .auth-header p {
  color: white;
  display: inline-block;
}

header .auth-header img {
  width: 70px;
  border-radius: 50%;
}

.intro {
  text-align: center;
  color: #fff;
  padding-bottom: 6.5rem;
  padding-top: 5.3rem;
}

.intro h1 {
  font-size: 2.5rem;
  font-family: "Proxima Nova Bold", sans-serif;
}

.intro p {
  font-size: 1.2rem;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 3.6rem;
}

.intro button {
  font-size: 1.1rem;
}