<div id="landing-page">
    <section class="container-fluid landing-intro">
        <div class="container">
            <div class="row">
                <img class='col-md-6' src="images/captain.jpg" alt="Капитан америка с командой">
                <div class='col-md-6 text-center section'>
                    <h3 class="h3_big">основные принципы дизайна <br> ордена дизайниеров</h3>
                    <p>Вступай в Орден Дизайниеров.<br> Пройди школу выживания, выполняя различные задания.<br> Развивай в себе супергоройские способности <br> и прокачивай дизайнерские навыки для борьбы <br> с Вселенским Отстоем. <br> Да пребудет с тобой
                        Удача!
                        <br>
                    </p>
                    <button class="btn-pink" ui-sref="app.trainings">начать игротренинг</button>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid advantage">
        <div class="container section">
            <div class="col-md-6">
                <h3 class="h3_big up nav">Для кого проходит тренинг</h3>
                <ul class="grid">
                    <li class="line">Для начинающих дизайнеров </li>
                    <li class="line">Для опытных дизайнеров</li>
                    <li class="line">Для тех, кто хочет сменить специализацию в области дизайна</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h3 class="h3_big up nav">Ваши навыки после игротренинга</h3>
                <ul class="grid">
                    <li class="line">Получение теоретических знаний и понимание <br> основных принципов дизайна</li>
                    <li class="line">Получение практических навыков разработки <br> качественного дизайна</li>
                    <li class="line">Увеличение скорости и качества работы</li>
                </ul>
            </div>
        </div>
    </section>

    <!--sasha-->
    <section class="section container train-process">
        <div class="row">
            <h2 class="sectiontitle">как проходит игротренинг?</h2>
        </div>
        <div class="row text-center">
            <div class="indenting col-md-3">
                <img class="icon" src="images/icons/icon-1.png">
                <h3>Выполняешь <br>задания</br>
                </h3>
                <p>Проходи уровни игротренинга, дополняя его сюжет выполненными заданиями</p>
            </div>
            <div class="indenting col-md-3">
                <img class="icon" src="images/icons/icon-2.png">
                <h3>Отправляешь <br>на проверку</br>
                </h3>
                <p>Выполненное задание отправляете на проверку, после чего его смогут оценить Ваши коллеги по игротренингу</p>
            </div>
            <div class="indenting col-md-3">
                <img class="icon" src="images/icons/icon-3.png">
                <h3>Получаешь рейтинг <br>и рекомендации</br>
                </h3>
                <p>За каждое выполненное задание начисляется рейтинг. Под каждым заданием можно оставить комментарий</p>
            </div>
            <div class="indenting col-md-3">
                <img class="icon" src="images/icons/icon-4.png">
                <h3>Радуешься своему <br>level up</br>
                </h3>
                <p>Получаете знания и практические навыки, совершенствуетесь в области дизайна</p>
            </div>
        </div>
        <div class="text-center">
            <button ui-sref="app.trainings" class="btn-pink uppercase">начать игротренинг</button>
        </div>
    </section>

    <section class="section container-fluid author">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-2 auth-img">
                    <img src="images/author.png" alt="Фотография автора">
                </div>
                <div class="col-md-6 auth-descr">
                    <h3 class="h3_big">Ян Агеенко</h3>
                    <h3>Автор тренинга, тренер</h3>
                    <p>Опыт разработки UI/UX дизайна более 10 лет. Опыт преподавания более 5 лет. Основатель Гильдии Дизайнеров. Руководитель проекта КРИД. Генеральный директор сервиса Train and Play.</p>
                </div>
            </div>
        </div>
    </section>

    <!--SLIDERS-->
    <section class="section container reviews">
        <h2 class="sectiontitle">отзывы</h2>
        <div class="slider">
            <div class="slider-item">
                <img class="userimage" src="images/icons/user1review.png">
                <p class="username">Инна</p>
                <p class="review-text">Супер!!! Прошла тренинг «Основные принципы дизайна в Готем Сити». Обожаю бэтмэна. Задания очень интересные и доступные для любого, не зависимо от навыков. Классные сюжеты тренингов и к тому же очень полезная инфа!!! Рекомендую!!!</p>
            </div>
            <div class="slider-item">
                <img class="userimage" src="images/icons/user1review.png">
                <p class="username">Лена</p>
                <p class="review-text">Супер!!! Прошла тренинг «Основные принципы дизайна в Готем Сити». Обожаю бэтмэна. Задания очень интересные и доступные для любого, не зависимо от навыков. Классные сюжеты тренингов и к тому же очень полезная инфа!!! Рекомендую!!!</p>
            </div>
            <div class="slider-item">
                <img class="userimage" src="images/icons/user1review.png">
                <p class="username">Михаил</p>
                <p class="review-text">Супер!!! Прошла тренинг «Основные принципы дизайна в Готем Сити». Обожаю бэтмэна. Задания очень интересные и доступные для любого, не зависимо от навыков. Классные сюжеты тренингов и к тому же очень полезная инфа!!! Рекомендую!!!</p>
            </div>
            <div class="slider-item">
                <img class="userimage" src="images/icons/user1review.png">
                <p class="username">Инна</p>
                <p class="review-text">Супер!!! Прошла тренинг «Основные принципы дизайна в Готем Сити». Обожаю бэтмэна. Задания очень интересные и доступные для любого, не зависимо от навыков. Классные сюжеты тренингов и к тому же очень полезная инфа!!! Рекомендую!!!</p>
            </div>
            <div class="slider-item">
                <img class="userimage" src="images/icons/user1review.png">
                <p class="username">Лена</p>
                <p class="review-text">Супер!!! Прошла тренинг «Основные принципы дизайна в Готем Сити». Обожаю бэтмэна. Задания очень интересные и доступные для любого, не зависимо от навыков. Классные сюжеты тренингов и к тому же очень полезная инфа!!! Рекомендую!!!</p>
            </div>
        </div>
    </section>

    <section class="section container trainings">
        <h2 class="sectiontitle">другие игротренинги</h2>
        <div class="col-md-4 train-item">
            <img class="slider-img" src="images/slider/batman.png" alt="batman">
        </div>
        <div class="col-md-4 train-item">
            <img class="slider-img" src="images/slider/batman.png" alt="batman">
        </div>
        <div class="col-md-4 train-item">
            <img class="slider-img" src="images/slider/batman.png" alt="batman">
        </div>
    </section>

</div>


<script type="text/javascript">
    $(document).ready(function() {
        $('.slider').slick({
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            variableWidth: true
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.slider-reviews').slick({
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            variableWidth: true
        });
    });
</script>

<script type="text/javascript" src="js/slider.js"></script>