<section class="section">
    <h2 class="sectiontitle">как это работает</h2>
    <div></div>
</section>

<section class="section">
    <h2 class="sectiontitle">наши преимущества</h2>
    <div></div>
</section>

<section class="section">
    <h2 class="sectiontitle">игротренинги</h2>
    <div></div>
</section>

<section class="section">
    <h2 class="sectiontitle">начни обучение прямо сейчас</h2>
    <div></div>
</section>

<section class="section">
    <h2 class="sectiontitle">отзывы</h2>
    <div></div>
</section>