<div id="mainpage">
    <section class="section container howitworks">
        <div class="row">
            <h2 class="sectiontitle">как это работает</h2>
        </div>
        <div class="row text-center wrapper">
            <div class="col-lg-3 adv">
                <img class="howitworks_icon" src="images/howitworks-1.png">
                <h3>Регистрируешься на сервисе</h3>
                <p>Пройди бесплатную и простую процедуру регистрации</p>
            </div>
            <div class="col-lg-3 adv">
                <img class="howitworks_icon" src="images/howitworks-2.png">
                <h3>Выбираешь курс</h3>
                <p>С ментором либо самостоятельное обучение</p>
            </div>
            <div class="col-lg-3 adv">
                <img class="howitworks_icon" src="images/howitworks-3.png">
                <h3>Выполняешь задания</h3>
                <p>Проходи уровни игротренинга, основанного на сюжетах известных фильмов </p>
            </div>
            <div class="col-lg-3 adv">
                <img class="howitworks_icon" src="images/howitworks-4.png">
                <h3>Радуешься своему level up</h3>
                <p>Получаете ответы, рекомендации, знания и опыт</p>
            </div>
        </div>
    </section>

    <section class="section container-fluid advantage">
        <div class="container">
            <h2 class="sectiontitle">наши преимущества</h2>
            <div class="row">
                <div class="col-xs-12 col-md-5">
                    <div class="advantage-subtitle">
                        <img src="images/main-icon1.png">
                    </div>
                    <div class="advantage-subtitle">
                        <h3 class="uppercase">игровой формат</h3>
                    </div>
                    <p>Наши тренинги проводятся в игровом формате. Интересные задания и сопереживание героям позволят полностью погрузиться в сюжет и Вы получите удоволствие от обучения.</p>
                    <div class="advantage-subtitle"><img src="images/main-icon2.png"></div>
                    <div class="advantage-subtitle">
                        <h3 class="uppercase">высокая эффективность</h3>
                    </div>
                    <p>После прохождения игротренингов Вы сами убедитесь в их эффективности. Глубокая вовлеченность в сюжет делает процесс обучения более интересным и увлекательным, что повышает эффективность обучения.</p>
                </div>
                <div class="col-xs-12 col-md-offset-2 col-md-5">
                    <div class="advantage-subtitle"><img src="images/main-icon3.png"></div>
                    <div class="advantage-subtitle">
                        <h3 class="uppercase">рекомендации тренеров</h3>
                    </div>
                    <p>По каждому выполненному заданию Вы получите индивидуальные рекомендации опытных тренеров, которые на протяжении игротренинга будут всегда на связи с Вами.</p>
                    <div class="advantage-subtitle"><img src="images/main-icon4.png"></div>
                    <div class="advantage-subtitle">
                        <h3 class="uppercase">практические навыки</h3>
                    </div>
                    <p>После прохождения игротренингов Ваш уровень знаний и практических навыков повысится. А также Вы улучшите скорость и качество своей работы.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section container trainings">
        <h2 class="sectiontitle">игротренинги</h2>
        <div class="slider">
            <div class="slider-item">
                <div class="image-wrap">
                    <button class="btn-circle"></button>
                    <img class="slider-img" src="images/slider/batman.png">
                </div>
                <div class="slider-description">
                    <p class="slider-text">Основные принципы дизайна в Готем Сити</p>
                    <div class="completed"> <img src="images/icons/completed.png"><span>6998</span></div>
                    <div class="views"><img src="images/icons/views.png">996</div>
                </div>
            </div>
            <div class="slider-item">
                <div class="image-wrap">
                    <button class="btn-circle"></button>
                    <img class="slider-img" src="images/slider/batman2.png">
                </div>
                <div class="slider-description">
                    <p class="slider-text">Основные принципы дизайна в Готем Сити</p>
                    <div class="completed"> <img src="images/icons/completed.png">669</div>
                    <div class="views"><img src="images/icons/views.png">996</div>
                </div>
            </div>
            <div class="slider-item">
                <div class="image-wrap">
                    <button class="btn-circle"></button>
                    <img class="slider-img" src="images/slider/batman3.png">
                </div>
                <div class="slider-description">
                    <p class="slider-text">Основные принципы дизайна в Готем Сити</p>
                    <div class="completed"> <img src="images/icons/completed.png">669</div>
                    <div class="views"><img src="images/icons/views.png">996</div>
                </div>
            </div>
            <div class="slider-item">
                <div class="image-wrap">
                    <button class="btn-circle"></button>
                    <img class="slider-img" src="images/slider/batman2.png">
                </div>
                <div class="slider-description">
                    <p class="slider-text">Основные принципы дизайна в Готем Сити</p>
                    <div class="completed"> <img src="images/icons/completed.png">669</div>
                    <div class="views"><img src="images/icons/views.png">996</div>
                </div>
            </div>
            <div class="slider-item">
                <div class="image-wrap">
                    <button class="btn-circle"></button>
                    <img class="slider-img" src="images/slider/batman.png">
                </div>
                <div class="slider-description">
                    <p class="slider-text">Основные принципы дизайна в Готем Сити</p>
                    <div class="completed"> <img src="images/icons/completed.png">669</div>
                    <div class="views"><img src="images/icons/views.png">996</div>
                </div>
            </div>
        </div>
    </section>

    <section class="section startnow container-fluid">
        <div class="container">
            <h2 class="sectiontitle">начни обучение прямо сейчас</h2>
            <p>Зарегистрируйся и начни обучение прямо сейчас на нашем сайте. А также получи возможность пройти последующие тренинги <br> <span class='pink_text'>с трененром бесплатно!</span></p>
            <a ui-sref="landing"><button class="btn-pink uppercase">начать обучение</button></a>

        </div>
    </section>

    <section class="section container reviews">
        <h2 class="sectiontitle">отзывы</h2>
        <div class="slider">
            <div class="slider-item">
                <img class="userimage" src="images/icons/user1review.png">
                <p class="username">Инна</p>
                <p class="review-text">Супер!!! Прошла тренинг «Основные принципы дизайна в Готем Сити». Обожаю бэтмэна. Задания очень интересные и доступные для любого, не зависимо от навыков. Классные сюжеты тренингов и к тому же очень полезная инфа!!! Рекомендую!!!</p>
            </div>
            <div class="slider-item">
                <img class="userimage" src="images/icons/user1review.png">
                <p class="username">Лена</p>
                <p class="review-text">Супер!!! Прошла тренинг «Основные принципы дизайна в Готем Сити». Обожаю бэтмэна. Задания очень интересные и доступные для любого, не зависимо от навыков. Классные сюжеты тренингов и к тому же очень полезная инфа!!! Рекомендую!!!</p>
            </div>
            <div class="slider-item">
                <img class="userimage" src="images/icons/user1review.png">
                <p class="username">Михаил</p>
                <p class="review-text">Супер!!! Прошла тренинг «Основные принципы дизайна в Готем Сити». Обожаю бэтмэна. Задания очень интересные и доступные для любого, не зависимо от навыков. Классные сюжеты тренингов и к тому же очень полезная инфа!!! Рекомендую!!!</p>
            </div>
            <div class="slider-item">
                <img class="userimage" src="images/icons/user1review.png">
                <p class="username">Инна</p>
                <p class="review-text">Супер!!! Прошла тренинг «Основные принципы дизайна в Готем Сити». Обожаю бэтмэна. Задания очень интересные и доступные для любого, не зависимо от навыков. Классные сюжеты тренингов и к тому же очень полезная инфа!!! Рекомендую!!!</p>
            </div>
            <div class="slider-item">
                <img class="userimage" src="images/icons/user1review.png">
                <p class="username">Лена</p>
                <p class="review-text">Супер!!! Прошла тренинг «Основные принципы дизайна в Готем Сити». Обожаю бэтмэна. Задания очень интересные и доступные для любого, не зависимо от навыков. Классные сюжеты тренингов и к тому же очень полезная инфа!!! Рекомендую!!!</p>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('.slider').slick({
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            variableWidth: true
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.slider-reviews').slick({
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            variableWidth: true
        });
    });
</script>

<script type="text/javascript" src="js/slider.js"></script>