<section class="section container">
    <h2 class="sectiontitle">как это работает</h2>
    <div></div>
</section>

<section class="section container-fluid advantage">
    <div class="container">
        <h2 class="sectiontitle">наши преимущества</h2>
        <div class="row">
            <div class="col-xs-12 col-md-5">
                <div class="advantage-subtitle"><img src="images/adv-1.png"></div>
                <div class="advantage-subtitle">
                    <h3 class="uppercase">игровой формат</h3>
                </div>
                <p>Наши тренинги проводятся в игровом формате. Интересные задания и сопереживание героям позволит полностью погрузиться в сюжет и Вы получите удоволствие от обучения.</p>
                <div class="advantage-subtitle"><img src="images/adv-2.png"></div>
                <div class="advantage-subtitle">
                    <h3 class="uppercase">высокая эффективность</h3>
                </div>
                <p>После прохождения игротренингов Вы сами убедить в их эффективности. Глубокая вовлеченность в сюжет делают процесс обучения более интересным и увлекательным, что повышает эффективность обучения.</p>
            </div>
            <div class="col-xs-12 col-md-offset-2 col-md-5">
                <div class="advantage-subtitle"><img src="images/adv-3.png"></div>
                <div class="advantage-subtitle">
                    <h3 class="uppercase">рекоменации тренеров</h3>
                </div>
                <p>По каждому выполненному заданию вы получите индивидуальные рекомандации опытных тренеров, которые на протяжении игротренинга будут всегда на связи с Вами.</p>
                <div class="advantage-subtitle"><img src="images/adv-4.png"></div>
                <div class="advantage-subtitle">
                    <h3 class="uppercase">практические навыки</h3>
                </div>
                <p>После прохождения игротренингов Ваш уровень занний и практических навыков повысится. А также Вы повысите скорость и качество своей работы.</p>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <h2 class="sectiontitle">игротренинги</h2>
    <div></div>
</section>

<section class="section startnow container-fluid">
    <div class="container">
        <h2 class="sectiontitle">начни обучение прямо сейчас</h2>
        <p>Зарегистрируйся и начни обучение прямо сейчас на нашем сайте А также получи возможность пройти последующие тренинги <br> <span class='pink_text'>с трененром бесплатно!</span></p>
        <button class="btn-pink uppercase"><a href="#/landing">начать обучение</a></button>
    </div>
</section>

<section class="section">
    <h2 class="sectiontitle">отзывы</h2>
    <div></div>
</section>