<div id="account" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 aside-info">
                <div class="personal"></div>
                <div class="raiting"></div>
                <div class="awards"></div>
            </div>
            <div class="col-sm-9 account-info">
                <section class="in-process"></section>
                <section class="complited"></section>
                <button class="btn-pink">выбрать игротренинг</button>
            </div>
        </div>
    </div>

</div>