<!DOCTYPE html>
<html lang="ru" ng-app="tpApp">

<head>
    <!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/files/css3-mediaqueries.js"></script>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta charset="UTF-8">
    <title>Train&Play</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--favicon-->
    <link rel="icon" href="images/icons/favicon.ico" type="image/x-icon">
    <!--seo-->
    <meta name="keywords" content="">
    <meta name="description" content="Организация лучших свадеб в Минске">
    <meta name="author" content="">
    <meta name="robots" content="index, follow">

    <!--CSS-->
    <!--<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="libs/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="libs/slick/slick-theme.css" />

    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/var.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/advantage.css">
    <link rel="stylesheet" href="css/media.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/modal-form.css">
    <!--     <link rel="stylesheet" href="css-dist/bundle2.css"> -->

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Nova+Flat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body ng-controller="MainController">
    <header class="container-fluid">
        <div class="container">
            <!--permanent header-->
            <nav class="header row">
                <div class="logo uppercase col-xs-12 col-sm-6">
                    <a href="#main">TRAINANDPLAY</a>
                </div>
                <div class="reg col-xs-12 col-sm-6">
                    <button class="btn-pink" ng-click="showModalWindow(authWindow)">войти</button>
                </div>
            </nav>
            <!--remove div.intro when page's not main-->
            <div class="row intro" ng-if=getLoc()>
                <h1 class="uppercase">train and play</h1>
                <p>Наш проект нацелен на тех, кто хочет учиться и быть лучше.<br/> Если у Вас есть свободное время и желание, чтобы прокачать свои навыки или попробовать себя в чем-то новом - наш проект для Вас. Вы можете учиться самомтоятельно или с помощью
                    компетентного тренера.<br/>Удачи!</p>
                <a href="#landing"><button class="btn-pink uppercase">начать обучение</button></a>
            </div>

        </div>
    </header>
    <!--modal-window-->
    <modal-window></modal-window>

    <!--MAIN CONTAINER-->
    <div ng-view>
        <!-- CONTENT -->
    </div>

    <footer class="footer container-fluid">
        <div class="container">
            <div class="row footer-links">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">trainandplay</div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-lg-offset-2 col-md-offset-0 col-sm-offset-0 col-xs-12">О проекте</div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">Игротренинги</div>
                <div class="col-lg-3 col-md-5 col-sm-5 col-xs-12 col-md-offset-1 col-sm-offset-1">Ваши идеи и предложения</div>
            </div>
            <div class="row footer-like">
                <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                    <p class="text-center">Нравится? Поделись с друзьями</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-lg-offset-5 col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
                    <div class="footer-social">
                        <img class="img-responsive" src="images/social-vk.png">
                        <img class="img-responsive" src="images/social-fb.png">
                        <img class="img-responsive" src="images/social-gl.png">
                    </div>
                </div>
            </div>
            <div class="row footer-copyright">
                <div class="col-lg-3 col-lg-offset-9 col-md-4 col-md-offset-8 col-sm-4 col-sm-offset-8 col-xs-10 col-xs-offset-1">
                    <p class="text-center">© 2017. Train and Play. Все права защищены</p>
                </div>
            </div>
        </div>
    </footer>

    <!--SCRIPTS-->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="libs/slick/slick.min.js"></script>
    <!--angular files-->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="libs/angular-route/angular-route.min.js"></script>
    <!--native js-->
    <script src="js/app.js "></script>


    <script src="js/controllers/MainController.js "></script>
    <script src="js/directives/modalDirective.js"></script>
    <script src="js/controllers/ModalFormCtrl.js"></script>
</body>

</html>