@import url("var.less");

#account {
    background-color: @bgAccount;
    padding: 10px 0;

    h4{text-transform: capitalize;}

    button {display: block; margin: 0 auto;}

    .aside-info {
        padding-right: 0;
    }

    .personal, .raiting, .awards, .in-process, .complited {
        background-color: #fff;
        margin-bottom: 10px;
        padding: 20px;
        box-shadow: 3px 7px 6px rgba(0,0,0,0.1);
    }
    .personal, .raiting, .awards {
        display: 17px;
    }

    .personal {
        text-align: center;
        img{
            display:block;
            width: 65%;
            border-radius: 50%;
            margin: 0 auto;
        }
        .user-name {
            font-size: 1.7rem; 
            text-align: center;
            margin-top: 1.3rem;
            margin-bottom: 1.3rem;
        }
        button{margin-bottom: .5rem;}
        a {
            color: @textBlue;
            font-size: 12px;
            line-height: 1;
            border-bottom: 1px solid @lightGrey;
        }
    }

    .raiting-num {
        color: @darkPink;
        font-size: 18px;
        font-family: @proximaNovaBold;
        text-align: center;
        text-transform: uppercase;
    }
    .awards {
        .award {
            margin: 0;
            padding: 0;
            padding-top: 30px;
            padding-bottom: 10px;
            h3{
                text-align: left;
                text-transform: none;
                color: @textBlue;
                margin-bottom: .9rem;
                padding-left: 50px;
                background-image: url("@{pathImg}/award-icon.png");
                background-repeat: no-repeat;
                background-position: 0 0;
                min-height: 55px;
            }
            p {
                font-size: 1rem;
                margin: 0;
                padding: 0;
            }
        }
        .show-content {
            color: @grey;
            width: 50%;
            margin: 0 auto;
            padding: 0;
            padding-top: 2rem;
            position: relative;
            cursor: pointer;
            &:after{
                content:url("@{pathImg}/icons/arrow-more.svg");
                position: absolute;
                right: 0;
                }
            &:hover:after {
                -webkit-transform: rotate(180deg);
                        transform: rotate(180deg);
                }
        }
    }

}



