@import url("var.less");

#account {
    background-color: @bgAccount;
    padding: 10px 0;

    .aside-info {
        padding-right: 0;
    }

    .personal, .raiting, .awards, .in-process, .complited {
        background-color: #fff;
        height: 200px;
        margin-bottom: 10px;
    }
}