@import url("var.less");

.footer {
    background: @bg-header no-repeat;
    background-size: cover;
    color: @textWhite;
    font-family: @openSans;
    font-size: 1.15rem;
    font-weight: bold;

    .footer-links {
    	padding-bottom: 5.3rem;
    }

    .footer-like {
    	padding-bottom: 2.3rem;
    }

    .footer-copyright {
    	font-size: 0.7rem;
    }
}