@import url("var.less");

header {
    background: @bg-header no-repeat;
    background-size: cover;
    .logo {
        color: @textWhite;
        font-family: @openSans;
        font-size: 1.2rem;
        font-weight: bold;
        height: 100%;

        a {
            width: 50%;
            display: inline-block;
            line-height: 3rem;
        }
    }

    .reg {
         text-align: right;

        button {
            padding: 0.5rem 0.7rem 0.5rem 2.8rem;
            background-image: url("@{pathImg}/enter.png");
            background-repeat: no-repeat;
            background-position: .7rem center;
            display: inline-block;
        }
    }
}

.intro {
    text-align: center;
    color: #fff;
    padding-bottom: 6.5rem;
    padding-top: 5.3rem;

    h1 {
    font-size: 2.5rem;
    font-family: "Proxima Nova Bold", sans-serif;
    }

    p {
        font-size: 1.2rem;
        width: 60%;
        margin: 0 auto;
        padding-bottom: 3.6rem;
    }

    button {
        padding: 0.6rem 1.3rem;            
        font-size: 1.1rem;
    }
}




