// variables LESS
@textWhite: #fff;
@textBlack: #000;
@darkPink: #eb5f8e;  
@borderButton: #cf507b;
@bg-header: url("../images/bg-header.jpg");

// reset.css
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

html {
    height: 100%;
    overflow-y: scroll;
    min-width: 320px;
    font-size: 15px;
}

body {
    height: 100%;
    color: black;
    background: white;
    font-family:  "Proxima Nova Regular", sans-serif;
    font-size: 100%;
    line-height: 1.4; 
   -ms-text-size-adjust: 100%; 
   -webkit-text-size-adjust: 100%;
}

ol, ul, li {
    list-style: none;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}

input, button, select {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 0;
}

a, button {
    cursor: pointer;
    background: #eb5f8e;
}

a,
a:active,
a:hover {
  color: inherit;
  text-decoration: none;
  outline-width: 0;
  background-color: transparent; 
  -webkit-text-decoration-skip: objects;
}

small {
  font-size: 80%;
}

img {
  border-style: none;
  max-width: 100%;
  vertical-align: bottom;
}

html {
    body {
        *:focus {
            outline: none;
            border: 0;
            color: inherit;
            text-decoration: none;
        }
    }
}
h1 {
    margin-bottom: 4rem;
}
h2 {
    margin-bottom: 4.5rem;
}

h3 {
    margin-bottom: 1.6rem;
}

.pink_text {
    color: @darkPink;
    font-size: 1.8rem;
}

.btn-pink {
    background: @darkPink;
    border-radius: 0;
    border: 2px solid @darkPink;
    border-bottom: 2px solid @borderButton;
    color: @textWhite;
    text-transform: uppercase;
    cursor: pointer;
    }

.btn-pink:hover,
.btn-pink:focus {
    color: @textWhite;
    border: 2px solid @darkPink;
    border-bottom: 2px solid @borderButton;

}

.btn-white {
    background: white;
    border: 1px solid black; 
}

// main project title
.maintitle {
    font-size: 2.5rem;
    text-transform: upercase;
}
// titles of sections
.sectiontitle {
    font-size: 2rem;
}
// header, footer height
.header {
    height: 5.3rem;
    }
.footer {
    padding-top: 5.3rem;
    padding-bottom: 2rem;
    }

// section
.section {
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
}
// отступы у контейнеров по бокам
// .header, .footer, .section {
//     padding-left: 2rem;
//     padding-right: 2rem;
// }
.text-center {
    text-align: center;
}
.hidden {
    display: none;
}

.uppercase {
    text-transform: uppercase;
}
