// variables LESS
@textWhite: #fff;
@textBlack: #000;
@bg-header: url("../images/bg-header.jpg");
@openSans: 'Open Sans', sans-serif;
@proximaNova: "Proxima Nova Regular", sans-serif;
@darkPink: #eb5f8e;  
@borderButton: #cf507b;

@btnPink: #EB5F8E;
@btnPinkHov: #FF71A1;
@btnPinkBorder: #D1517C;
@btnPinkHovBorder: #DC5F89;
@btnWhiteBorder: #463C79;
@btnWhiteHovBorder: #5C4AB7;
@btnArrow: #D1D1D1;
@btnArrowHov: #A3A0A0;
@btnCircleHov: #F6719E;
@pathImg: "../images";




